<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.mrsli.springboot.core.sys.mapper.RoleMenuMapper">

	<select id="getByUsername" resultType="pers.mrsli.springboot.core.sys.entity.Menu">
		SELECT m.id         AS id,
			   m.name       AS name,
			   m.permission AS permission
		FROM sys_menu m
				 LEFT JOIN sys_role_menu rm
						   ON m.id = rm.menu_id
				 LEFT JOIN sys_user_role ur
						   ON rm.role_id = ur.role_id
		where ur.user_id = #{userId}
	</select>

	<select id="getMenuIdsByRoleId" resultType="java.lang.Long">
		SELECT menu_id
		FROM sys_role_menu rm
		where role_id = #{roleId}
	</select>

</mapper>